# This is an example of the environment variables that are used in the project.
# Copy this file to .env and fill in the values.

# Environment variables
REGISTRY=ghcr.io
OWNER=saas-apps-hub
TAG=latest

BACKEND_PORT=8000
BACKEND_HOST=0.0.0.0

# Marketing app variables, naming should be like this due to limitations of Next.js
PORT=3000
HOSTNAME=0.0.0.0
NEXT_PUBLIC_BACKEND_URL=http://localhost:8000

# Mobile app variables
EXPO_PUBLIC_BACKEND_URL=http://localhost:8000
