# This is an example of the environment variables that are used in the project.
# Copy this file to .env and fill in the values.

# Environment variables
BACKEND_PORT=8000
BACKEND_HOST=localhost

# Marketing app variables, naming should be like this due to limitations of Next.js
PORT=3000
HOST=localhost
NEXT_PUBLIC_BACKEND_URL=http://localhost:8000

# Mobile app variables
EXPO_PUBLIC_BACKEND_URL=http://localhost:8000
